{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "fetch": true,
    "it": true,
    "navigator": true,
    "window": true
  },
  "rules": {
    "import/extensions": ["js", "jsx"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
